<div class="wrapper">
  <div class="control-wrapper">
    <button 
      [ngClass]="quotesStreamIsStarted? 'button-stop-stream' : 'button-start-stream' " 
      mat-button
      (click)="manageStream(quotesStreamIsStarted? 'stop':'start');
              quotesStreamIsStarted =!quotesStreamIsStarted;"
      >
      <mat-icon>{{quotesStreamIsStarted ? 'cancel' : 'smart_display'}}</mat-icon>
      {{ quotesStreamIsStarted ? "Stop " : "Start" }} from the server
    </button>
    <button
      mat-button
      [ngClass]="quotesStreamIsOpened? 'button-stop-connection' : 'button-start-connection' " 
      (click)="quotesStreamIsOpened ? pauseQuotesStream() : getQuotesStream(cachedTime)" 
      >
      <mat-icon>{{quotesStreamIsOpened ? 'cast_connected' : 'cast'}}</mat-icon>
      {{ quotesStreamIsOpened ? "Stop " : "Connect to" }} WS
    </button>
    <div class="cache-wrapper">
      <label for="cache">Caching Time:</label>
      <div class="reset-wrapper">
        <input id="cache" [(ngModel)]="cachedTime" >
        <button mat-icon-button ><mat-icon matTooltip="Reset Stream" (click)="resetCacheTime()">restart_alt</mat-icon> </button>
      </div>
    </div>
  </div>
  <div class="filter-wrap">
      <label for="">Filter: </label>
      <input  [(ngModel)]="filterQuotesList">
  </div>
  <li class="header">
    <div class="table-row">
      <p>Symbol</p>
      <p>Bid</p>
      <p>Ask</p>
      <p>Time</p>
    </div>
    <hr />
  </li>
  <li
    *ngFor="let item of quotesDataArray; let last = last; trackBy: trackByfn"
    class="li-row"
  >
    <div class="table-row">
      <p>{{ item.symbol }}</p>
      <p>{{ item.bid }}</p>
      <p>{{ item.ask }}</p>
      <p>{{ item.time | date : "HH:mm:ss:SSS" }}</p>
    </div>
    <hr *ngIf="!last" />
  </li>
</div>
