.wrapper {
  width: 60vw;
  background-color: inherit;
  margin-top: 2vh;
  margin-left: 10vw;
}
.control-wrapper {
  display: flex;
  align-items: center;
  gap:1vw
}
.wrapper.control-wrapper button {
  margin-top: 1vh;
  border-radius: 5%/15%;
  margin-bottom: 2vh;
  color: aliceblue;
  padding: 0;
  border: 0;
  margin-right: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cache-wrapper {
  margin-top: 1vh;
  display: grid;
  justify-content: left;
  align-items: flex-start;
}
.cache-wrapper input {
  width: 5vw;
  height: 1.8vh;
  margin-left: 0;
}
.reset-wrapper {
  display: flex;
}
.reset-wrapper .mat-icon{
  vertical-align: top;

}
.reset-wrapper button{ 
  width:initial() !important;
  height:initial();
}
.button-start-stream {
  background-color: rgb(96, 144, 181);
}
.button-stop-stream {
  background-color:rgb(134, 60, 60)
}
.button-start-connection {
  background-color:rgb(60, 134, 92)
}
.button-stop-connection {
  background-color:rgb(55, 50, 50)
}
.filter-wrap button {
  width: 7vw;
  margin-left: 1vw;
}
input {
  margin-bottom: 1vh;
  width: 42vw;
  margin-left: 1vw;
}
p {
  width: 15vw;
  margin: 0;
}
.header p {
  font-weight: bold;
}
li {
  list-style-type: none;
  color: rgb(34, 33, 33);
}
.table-row {
  display: inline-flex;
  margin: 0;
}
hr {
  width: 55vw;
  margin-left: -1vw;
}
