<div class="wrapper">
  <button
    mat-button
    style="background-color: rgb(96, 144, 181)"
    (click)="manageStream('start')"
  >
    Start Stream
  </button>
  <button
    mat-button
    style="background-color: rgb(134, 60, 60)"
    (click)="manageStream('stop')"
  >
    Stop Stream
  </button>
  <div class="filter-wrap">
    <label for="filter">Filter:</label>
    <input #filter type="text" [value]="" />
    <!--     one button is used to open and cloese connection to data stream -->
    <button
      mat-button
      [style.background-color]="quotesStreamIsOpened ? 'grey' : 'green'"
      (click)="quotesStreamIsOpened ? pauseQuotesStream() : getQuotesStream()" 
    >
      {{ quotesStreamIsOpened ? "Stop " : "Connect to" }} WS
    </button>
  </div>
  <li class="header">
    <div class="table-row">
      <p>Symbol</p>
      <p>Bid</p>
      <p>Ask</p>
      <p>Time</p>
    </div>
    <hr />
  </li>
  <li
    *ngFor="let item of quotesDataArray; let last = last; trackBy: trackByfn"
    class="li-row"
  >
    <div class="table-row">
      <p>{{ item.symbol }}</p>
      <p>{{ item.bid }}</p>
      <p>{{ item.ask }}</p>
      <p>{{ item.time | date : "HH:mm:ss:SSS" }}</p>
    </div>
    <hr *ngIf="!last" />
  </li>
</div>
