
@import '../../../styles/mixins_media.scss';
.mat-button-disabled {
  background-color: red !important
}
main {
  background-color:var(--background-color);
  width: var(--contentWidth);

  @include desktop {
    --contentWidth:60vw;
  }

  @include tablet {
    --contentWidth:80vw;
  }

  @include mobile {
    --contentWidth:96vw;
  }
  .mng-panel {
    border-bottom: 2px groove rgb(229, 226, 226);
    padding: 5px;
   
    &__header {
      border: 2px groove rgb(229, 226, 226);
      cursor: pointer;
      padding-left: 5px ;
      border-radius: var(--border-radius-large);
      color: var(--color-text-header);

      &__status {
        padding: 5px 0 5px 0;
      }
      &__status.Connected {
        color: #0072ff;
      }
    }
    form {
      display:flex;
      justify-content: space-between;
      margin-top: 2vh;

      @include mobile {
        display:grid;
      }
      
      .form__button-stream {
        transition: var(--transition-duration);
        background-size: 200% auto;
        color: var(--color-text-light);            
        box-shadow: 0 0 20px var(--color-text-light);
        border-radius: var(--border-radius-large);
        height: 5vh;
        min-width: 200px;
        max-height: 50px;
        width: 16vw;
        
        @include tablet {
          max-height: 50px;
          height: 5vh;
        }
  
        @include mobile {
          min-width: 280px;
          height: 5vh;
          min-height: 30px;
          line-height: 28px;
        }
  
        &.start-stream:disabled {
          filter: opacity(40%);

        }
        &.start-stream {
          background-image: linear-gradient(to right, #00c6ff 0%, #0072ff  51%, #00c6ff  100%);
        }
  
        &.stop-stream {
          background-image: linear-gradient(to right, #517fa4 0%, #243949  51%, #517fa4  100%);
        }
  
        &-text::after {
          position: relative;
          content: '';
          width: 0px;
          height: 2px;
          display: block;
          background: var(--color-text-light);
          transition: var(--transition-duration);
          top: -2px;
          left: 50%;
          translate: -50%;
        }
        
        &-text:hover::after {
          width: 70%;
        }
      }
      .mat-form-field {
        width: 7vw;
        margin-right: 1vw;
  
        @include desktop {
          width: 11vw;
        }
  
        @include tablet {
          width: 13vw;
        }
  
        @include mobile {
          width: 28vw;
          margin-right: 2vw;
        }
      }
  
    }
  }
}