<main class="content">
  <section class="testing-panel">
    <app-testing-panel></app-testing-panel>
  </section>
  <section class="connection-panel">
    <button  mat-button class="connection-panel__button"    
      [ngClass]="quotesStreamIsOpened? 'stop-connection' : 'start-connection' " 
      (click)="quotesStreamIsOpened ? pauseQuotesStream() : getQuotesStream(cachedTime);
              quotesStreamIsOpened = !quotesStreamIsOpened" >
      <mat-icon class="connection-panel__button-icon">{{quotesStreamIsOpened ? 'cast_connected' : 'cast'}}</mat-icon>
      <span class="connection-panel__button-text">{{ quotesStreamIsOpened ? "Stop " : "Connect to" }} WS</span>
    </button>
    <span class="connection-panel__cache">
      <label for="cache" class="connection-panel__cache-label">Cache Time:</label>
      <input id="cache" class="connection-panel__cache-input" [(ngModel)]="cachedTime" matTooltip="Time to cache the stream in milliseconds" >
      <button mat-button class="connection-panel__button reset-connection" (click)="resetCacheTime()">
        <mat-icon class="connection-panel__button-icon reset-connection" matTooltip="Reset Stream" >refresh</mat-icon>
        <span class="connection-panel__button-text">Reset</span>
      </button>
    </span>
  </section>
  <section class="filter">
    <label class="filter__label" for="">Filter: </label>
    <input class="filter__text" [(ngModel)]="filterQuotesList">
  </section>
  <section class="quotes-table">
    <li class="quotes-table quotes-table__header">
      <span class="quotes-table__header-col">Symbol</span>
      <span class="quotes-table__header-col">Bid</span>
      <span class="quotes-table__header-col">Ask</span>
      <span class="quotes-table__header-col">Time</span>
    </li>
    <hr>
    <li *ngFor="let item of quotesData$ | async; let last = last; trackBy: trackByfn">
      <div class="quotes-table quotes-table__items">
        <span class="quotes-table__items-col">{{ item.symbol }}</span>
        <span class="quotes-table__items-col">{{ item.bid }}</span>
        <span class="quotes-table__items-col">{{ item.ask }}</span>
        <span class="quotes-table__items-col">{{ item.time | date : "HH:mm:ss" }}</span>
      </div>
      <hr class="quotes-table__items-divider" *ngIf="!last">
    </li>
  </section>
</main>